@CHARSET "UTF-8";

@import url("normalize.css");
@import url("responsive.gs.12col.css");

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

footer {
  margin-top: 3em;
  text-align: center;
}

.chart {
  margin-top: 1em;
  height: 20em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  margin-top: 2em;
  font-size: 1.2em;
}

h3 {
  margin-bottom: 0;
  font-size: 1em;
}

p {
  margin: 0.2em;
}
